@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<BTL_VTJob.Models.BaiTuyenDung>

 @if(Context.Session.GetString("Quyen")== "Admin")
        {
            <div class="col-12 main-ad">
                <section class="col-3 menu-ad">
                    <H5 style="color:#000;"><b>Quản lý</b></H5>
                    <div class="wrap-menu-ad">
                        <ul id="ul-menu">
                            <li class="li-menu">
                                <a class="link-menu">Người dùng</a>
                            </li>
                            <li class="li-menu">
                                <a class="link-menu">Nhà tuyển dụng</a>
                            </li>
                            <li class="li-menu">
                                <a class="link-menu">Bài đăng</a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="col-9 wrap-main-ad">
                    <div class="wrap-main-ad-inner">
                        <main role="main">
                           
                        </main>
                    </div>
                </section>
            </div>

        }
        else
        {
<section class="site-section" id="next-section">
<a href="~/lib/jquery/dist/jquery.min.map"></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<form method="post" class="site-section" id="next-section">
    <div class="container">
        <div>
            <strong>Tìm kiếm</strong>
            <input id="yourInputId" name="content_search" />
            <button type="button" onclick="Search()" id="SearchButton">Tìm kiếm</button>
        </div>
        <div id="cnt" class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 mb-4">
                    <div class="block__87154">
                        <div class="block__91147 d-flex align-items-center">
                            <div class="w-25 p-2"><img src="~/images/job_logo_1.jpg" alt="Image" class="img-fluid "></div>
                            <div class="p-2 w-75">
                                <blockquote>
                                    <a asp-action="DetailJob" asp-controller="BaituyenDung" asp-route-id="@item.MaBai">
                                        <p class="h3 text-dark"><strong>@item.TieuDe</strong></p>
                                    </a>
                                    <p class="">@item.DoanhNghiep.TenCT</p>
                                </blockquote>
                                <p class="h6">Số lượng:@item.SoLuongTuyen</p>
                                <span class="position text-black h4 bg-white p-2">@item.MucLuong</span>
                                <span class="position text-black h4 bg-white p-2">@item.HanNopCV</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>
    <script>
        function Search() {
            var content = document.querySelector("#yourInputId");
            var nd = content.value;
            $.ajax({
                url: "/Home/Search",
                type: "POST",
                data: {
                    content_search: nd
                },
                success: function (response) {
                $('#cnt').html(response);
                    // Xử lý kết quả thành công (nếu cần)
                alert("Tìm kiếm thành công");
           
                },
                error: function (error) {
                    // Xử lý lỗi (nếu cần)
                    console.log(error);
                    alert("Error submitting application.");
                }
            });
            return false; // Ngăn chặn form được submit và trang được tải lại
        }
    </script>
