@model IEnumerable<BTL_VTJob.Models.NguoiDung>

@{
    ViewData["Title"] = "User";
}
<style>
    h3 {
        color: #333;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-right: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #333;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    a {
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
    }

        a:hover {
            color: #0056b3;
        }
</style>
<h3>Người dùng</h3>

<p>
    <a asp-action="CreateUser">Create New</a>
</p>
<ul>
    <li>@Html.ActionLink("Người dùng", "Index", "Admin")</li>
    <li><a onclick="hienbaituyendung()">Bài Tuyển dụng</a></li>
    <li><a onclick="hiennhatuyendung()">Nhà tuyển dụng</a></li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quyen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quyen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
