@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BTL_VTJob.Models.BaiTuyenDung;

@using (Html.BeginForm("ApplyJob","BaiTuyenDung", FormMethod.Post, new
        {
            @class="form-contact",
            @novalidate = "novalidate",
            
        }))
        {
    
<section class="site-section">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div class="border p-2 d-inline-block mr-3 rounded">
                        <img src="~/images/@Model.DoanhNghiep.Anh" alt="Image" class="img-fluid">
                    </div>
                    <div>
                        <h2>@Model.TieuDe</h2>
                        <p>@Model.DoanhNghiep.TenCT</p>
                        <div>
                            <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>@Model.LoaiCongViec.TenLoaiJob</span>
                            
                                <p style="display: none;">@ViewBag.hi= @Model.MaBai;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h2>Thông tin tuyển dụng</h2>
                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Mô tả công việc</h3>
                    <p>@Model.MoTaCV</p>
                </div>
                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-rocket mr-3"></span>Quyền lợi</h3>
                    <ul class="list-unstyled m-0 p-0">
                        <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>@Model.QuyenLoi</span></li>
                       
                    </ul>
                </div>

                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book mr-3"></span>Yêu cầu</h3>
                    <ul class="list-unstyled m-0 p-0">
                        <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>@Model.YeuCau</span></li>
                       
                    </ul>
                </div>

                <div class="row mb-5">
                    <div class="col-6">
                            <p>
                                @if (ViewBag.succ != null)
                                {
                                    @ViewBag.succ;
                                }
                                else
                                {
                                    <span>Điền link CV để Ứng tuyển nào!</span>
                                }
                            </p>
                            <strong>Link CV</strong>
                            <input name="cv" class="input-tim-cv" />  <br />
                          <input type="hidden" name="mabai" value=@Model.MaBai />
                            <input type="submit" value="Ứng tuyển" class="btn btn-block btn-primary btn-md " />
                        @* <a href="#" class="btn btn-block btn-primary btn-md">Apply Now</a> *@
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="bg-light p-3 border rounded mb-4">
                    <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Tổng quan</h3>
                    <ul class="list-unstyled pl-3 mb-0">
                    
                        <li class="mb-2"><strong class="text-black">Ngày đăng:</strong> @Model.NgayDang</li>
                        <li class="mb-2"><strong class="text-black">Số lượng:</strong>  @Model.SoLuongTuyen người</li>                        <li class="mb-2"><strong class="text-black">Địa chỉ:</strong> @Model.DoanhNghiep.DiaChi</li>
                        <li class="mb-2"><strong class="text-black">Lương:</strong>  @Model.MucLuong</li>
                
                        <li class="mb-2"><strong class="text-black">Hạn apply:</strong>  @Model.HanNopCV</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
}
